:root {
    --apple: #BEEF9E;
    --pistachio: #A6C36F;
    --dark-tan: #828C51;
    --slate-gray: #335145;
    --jungle-green: #1E352F;
}

body {
    background-color: var(--apple);
}

.img-header {
    height: 100vh;
    /* object-fit: cover; */
    background-image: url("img/header-foto.jpg");
    background-size: cover;
}

.square {

    background-color: var(--pistachio);
}

.card-container .row .col-lg-3 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.card {
    min-height: 14rem;

}
.card-title{
    margin-bottom: 0.5rem !important;
    position: absolute;
    bottom: 0rem;
    left: 1rem;
}
