:root {
    --apple: #BEEF9E;
    --pistachio: #A6C36F;
    --dark-tan: #828C51;
    --slate-gray: #335145;
    --jungle-green: #1E352F;
  }
  body {
      background-color: var(--apple);
  }
  .img-header {
    height: 100vh;
    /* object-fit: cover; */
    background-image: url("img/header-foto.jpg");
    background-size: cover;
}
.square {

    background-color: var(--pistachio);
}
.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    flex: 1 0 21%;
    max-width: 21%;
}